<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="/css/home.css">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
        <div class="wrapper">

            <header id="pageHeader">
                <h1>Cuestionario 2: Desarrollo Front End</h1>
            </header>

            
            <aside id= "pageSidebar" class="sidebar" onmouseover="toggleSidebar()" onmouseout="toggleSidebar()">
                <a href="http://localhost:3306/home"><span><i class="material-icons">school</i><span class="icon-text">Quiz 1</span></span></a><br>
                <a href="http://localhost:3306/homeq2"><span><i class="material-icons">school</i><span class="icon-text">Quiz 2</span></span></a><br>
                <a href="http://localhost:3306/homeq3"><span><i class="material-icons">school</i><span class="icon-text">Quiz 3</span></span></a><br>
                <a href="#"><span><i class="material-icons">account_circle</i><span class="icon-text">Perfil</span></span></a><br>


            </aside>
    
            <div id = "pageContent" class="contentwrapper">
                <form action="/homeq2" method="get">
                    <p>1. ¿Qué es el Front End en una app Web?</p>
                    <div>
                        <input type="radio" id="radio_q1r1" name="radio_q1" value="radio_q1">
                        <label for="radio_q1">Se refiere a la capa de base de datos que existe en una app</label>
                    </div>
                    <div>
                        <input type="radio" id="radio_q1r2" name="radio_q1" value="radio_q1">
                        <label for="radio_q1">Es la parte de la app web que se ejecuta del lado del servidor; el sistema y rutinas necesarias para hacer funcionar la app</label>
                    </div>
                    <div>
                        <input type="radio" id="radio_q1r3" name="radio_q1" value="radio_q1">
                        <label for="radio_q1">Se refiere a la parte de la app web que se ejecuta del lado del cliente; la interfaz grafica de la app</label>
                    </div>
                    <div>
                        <input type="radio" id="radio_q1r4" name="radio_q1" value="radio_q1">
                        <label for="radio_q1">Es el uso de técnicas para obtener un código más limpio</label>
                    </div>

                    <p>2. ¿Cuales son los lenguajes principales usados para la programacion de un Front End?</p>
                    <div>
                        <input type="radio" id="radio_q2r1" name="radio_q2" value="radio_q2">
                        <label for="radio_q2">HTML para declaracion de elementos; CSS para dar estilos y graficos; JavaScript para programar funcionalidades</label>
                    </div>
                    <div>
                        <input type="radio" id="radio_q2r2" name="radio_q2" value="radio_q2">
                        <label for="radio_q2">HTML para la declaracion de elementos; CSS para estilos; PHP para programar funcionalidades</label>
                    </div>
                    <div>
                        <input type="radio" id="radio_q2r3" name="radio_q2" value="radio_q2">
                        <label for="radio_q2">HTML para dar estilo y graficos; CSS para declarar elementos; JavaScript para programar funcionalidades</label>
                    </div>

                    <p>En HTML, para que se usan los elementos declarados con 'h1'?</p>
                    <div>
                        <input type="radio" id="radio_q3r1" name="radio_q3" value="radio_q3">
                        <label for="radio_q3">Para indicar texto que va a ser el encabezado principal</label>
                    </div>
                    <div>
                        <input type="radio" id="radio_q3r2" name="radio_q3" value="radio_q3">
                        <label for="radio_q3">Para declarar una lista desordenada de datos</label>
                    </div>
                    <div>
                        <input type="radio" id="radio_q3r3" name="radio_q3" value="radio_q3">
                        <label for="radio_q3">Para declarar texto en un parrafo</label>
                    </div>

                    <p>4. Supon que tenemos una expresion 'let fruit = 'apple'; ' en JavaScript ¿Como se puede cambiar el valor asignado a 'plum'?</p>
                    <div>
                        <input type="radio" id="radio_q4r1" name="radio_q4" value="radio_q4">
                        <label for="radio_q4">let fruit = 'plum'</label>
                    </div>
                    <div>
                        <input type="radio" id="radio_q4r2" name="radio_q4" value="radio_q4">
                        <label for="radio_q4">var fruit = 'plum'</label>
                    </div>
                    <div>
                        <input type="radio" id="radio_q4r3" name="radio_q4" value="radio_q4">
                        <label for="radio_q4">fruit = 'plum'</label>
                    </div>

                    <p>5. ¿Cual de estos No es parte del Box model de CSS?</p>
                    <div>
                        <input type="radio" id="radio_q5r1" name="radio_q5" value="radio_q5">
                        <label for="radio_q5">Margin</label>
                    </div>
                    <div>
                        <input type="radio" id="radio_q5r2" name="radio_q5" value="radio_q5">
                        <label for="radio_q5">Paragraph</label>
                    </div>
                    <div>
                        <input type="radio" id="radio_q5r3" name="radio_q5" value="radio_q5">
                        <label for="radio_q5">Padding</label>
                    </div>

                    <input type="submit" value="Enviar" id="btnSubmit">
                </form>
            </div>
            
            <footer id="pageFooter">
            <a href="index.html">Home</a>
            <a href="http://localhost:3306/">Salir</a>
            <a href="#">Contacto</a>
            <script src="/js/sidebar.js"></script>
            </footer>

        </div>
        
</body>
</html>
