<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="/styles/home.css">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
        <div class="wrapper">

            <header id="pageHeader">
                <h1>This is the header</h1>
            </header>

            <script src="/scripts/sidebar.js"></script>
            <aside id= "pageSidebar" class="sidebar" onmouseover="toggleSidebar()" onmouseout="toggleSidebar()">
                <a href="#"><span><i class="material-icons">school</i><span class="icon-text">Quiz 1</span></span></a><br>
                <a href="#"><span><i class="material-icons">school</i><span class="icon-text">Quiz 2</span></span></a><br>
                <a href="#"><span><i class="material-icons">school</i><span class="icon-text">Quiz 3</span></span></a><br>
                <a href="#"><span><i class="material-icons">account_circle</i><span class="icon-text">Perfil</span></span></a><br>


            </aside>
    
            <div id = "pageContent" class="content">
                <form action="">

                </form>
            </div>
            
            <footer id="pageFooter">
            <a href="index.html">Home</a>
            <a href="#">About</a>
            <a href="#">Contact</a>
            </footer>
        </div>
        
</body>
</html>