<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="/proyecto-redes/styles/home.css">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
        <div class="wrapper">

            <header id="pageHeader">
                <h1>Cuestionario 1: Desarrollo Web</h1>
            </header>

            <script src="/proyecto-redes/scripts/sidebar.js"></script>
            <aside id= "pageSidebar" class="sidebar" onmouseover="toggleSidebar()" onmouseout="toggleSidebar()">
                <a href="#"><span><i class="material-icons">school</i><span class="icon-text">Quiz 1</span></span></a><br>
                <a href="#"><span><i class="material-icons">school</i><span class="icon-text">Quiz 2</span></span></a><br>
                <a href="#"><span><i class="material-icons">school</i><span class="icon-text">Quiz 3</span></span></a><br>
                <a href="#"><span><i class="material-icons">account_circle</i><span class="icon-text">Perfil</span></span></a><br>


            </aside>
    
            <div id = "pageContent" class="content">
                <form action="post" method="post">
                    <p>1. ¿Qué es el desarrollo web?</p>
                    <input type="radio" name="radio_q1" id="radio_q1r1">
                    <label for="radio_q1">El desarrollo de aplicaciones para dispositivos móviles</label>
                    <input type="radio" name="radio_q1" id="radio_q1r2">
                    <label for="radio_q1">El desarrollo para aplicaciones que se pueden acceder por medio del Internet</label>
                    <input type="radio" name="radio_q1" id="radio_q1r3">
                    <label for="radio_q1">Es el uso de técnicas para obtener un código más limpio</label>

                    <p>2. ¿Qué es el front-end?</p>
                    <input type="radio" name="radio_q2" id="radio_q2r1">
                    <label for="radio_q2">La parte de la aplicación donde se guardan los datos del usuario</label>
                    <input type="radio" name="radio_q2" id="radio_q2r2">
                    <label for="radio_q2">La parte de la aplicación que se ejecuta desde el servidor</label>
                    <input type="radio" name="radio_q2" id="radio_q2r3">
                    <label for="radio_q2">La parte de la aplicación que se ejecuta en el dispositivo del cliente</label>

                    <p>3. ¿Qué es back-end?</p>
                    <input type="radio" name="radio_q3" id="radio_q3r1">
                    <label for="radio_q3">La parte de la aplicación que se ejecuta desde el servidor</label>
                    <input type="radio" name="radio_q3" id="radio_q3r2">
                    <label for="radio_q3">La parte de la aplicación que se ejecuta en el dispositivo del cliente</label>
                    <input type="radio" name="radio_q3" id="radio_q3r3">
                    <label for="radio_q3">Es la base de datos donde se guardan los datos de la aplicación</label>

                    <p>4. ¿Qué es un framework?</p>
                    <input type="radio" name="radio_q4" id="radio_q4r1">
                    <label for="radio_q4">Conjunto de técnicas de desarrollo de software para sitios web</label>
                    <input type="radio" name="radio_q4" id="radio_q4r2">
                    <label for="radio_q4">Es una estructura de código que proveé una fundación para el desarrollo de una app</label>
                    <input type="radio" name="radio_q4" id="radio_q4r3">
                    <label for="radio_q4">Es el uso de técnicas para obtener un código más limpio</label>

                    <p>5. ¿Qué es un lenguaje de programación?</p>
                    <input type="radio" name="radio_q5" id="radio_q5r1">
                    <label for="radio_q5">Conjunto de técnicas de desarrollo de software para sitios web</label>
                    <input type="radio" name="radio_q5" id="radio_q5r2">
                    <label for="radio_q5">lenguaje usado para gestionar los datos en la base de datos de una app</label>
                    <input type="radio" name="radio_q5" id="radio_q5r3">
                    <label for="radio_q5">Lenguaje usado para construír una app</label>

                    <input type="submit" value="Enviar" id="btnSubmit">
                </form>
            </div>
            
            <footer id="pageFooter">
            <a href="index.html">Home</a>
            <a href="#">Salir</a>
            <a href="#">Contacto</a>
            </footer>
        </div>
        
</body>
</html>
