<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="styles.css" />
    <link rel="stylesheet" href="/styles/login.css" type="text/css">
    <title>Login Form</title>
</head>
<body>
    <div class="wrapper">

        <h1>Login</h1>
        <form method="post">
            <div class="txtField">
                <input type="text" required id="username">
                <span></span>
                <label>Usuario:</label>
            </div>
    
            <div class="txtField">
                <input type="password" required id="password">
                <span></span>
                <label>Contraseña:</label>
            </div>
    
            <script src="/scripts/ValidateLogin.js"></script>
            <input type="submit" onclick="validate()" class="btn btn-warning btn-lg" value="Login"/>
            <div class="signupLink">
                <a href="#">Registrarse</a>
            </div>
        </form>
        
    </div>
</body>
</html>
